body {
    padding: 20px;
}
h1, h2, h3 {
    text-transform: uppercase;
    text-align: center;
}
.row {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    justify-content: center;
    flex-wrap: wrap;
}

.row div {
    margin: 20px;
}

#square {
    width: 100px;
    height: 100px;
    background-color: #ffb6c1;
}

#rectangle {
    width: 200px;
    height: 100px;
    background-color: #ffb6c1;
}

#circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ffb6c1;
}

#oval {
    width: 200px;
    height: 100px;
    border-radius: 100px/50px;
    background-color: #ffb6c1;
}

#triangle-up {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #ffb6c1;
}

#triangle-down {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid #ffb6c1;
}

#triangle-right {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 100px solid #ffb6c1;
}

#triangle-left {
    width: 0;
    height: 0;
    border-bottom: 50px solid transparent;
    border-top: 50px solid transparent;
    border-right: 100px solid #ffb6c1;
}

#triangle-top-right {
    width: 0;
    height: 0;
    border-top: 100px solid #ffb6c1;
    border-left: 100px solid transparent;
}

#triangle-top-left {
    width: 0;
    height: 0;
    border-top: 100px solid #ffb6c1;
    border-right: 100px solid transparent;
}

#triangle-bottom-right {
    width: 0;
    height: 0;
    border-bottom: 100px solid #ffb6c1;
    border-left: 100px solid transparent;
}

#triangle-bottom-left {
    width: 0;
    height: 0;
    border-bottom: 100px solid #ffb6c1;
    border-right: 100px solid transparent;
}

#trapezoid {
    border-bottom: 100px solid #ffb6c1;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 100px;
}

#parallelogram {
    width: 150px;
    height: 100px;
    transform: skew(20deg);
    background-color: #ffb6c1;
}

#sixpointstar {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #ffb6c1;
    position: relative;
}

#sixpointstar::after {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid #ff1493;
    position: absolute;
    content: "";
    top: 30px;
    left: -50px;
}

#fivepointstar {
    margin: 50px 0;
    position: relative;
    display: block;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #ffb6c1;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
}
#fivepointstar::before {
    border-bottom: 80px solid #ff1493;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
}

#fivepointstar::after {
    position: absolute;
    display: block;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #ff69b4;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
}

#pentagon {
    position: relative;
    width: 54px;
    box-sizing: content-box;
    border-width: 50px 18px 0;
    border-style: solid;
    border-color: #ffb6c1 transparent;
}
#pentagon::before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: -85px;
    left: -18px;
    border-width: 0 45px 35px;
    border-style: solid;
    border-color: transparent transparent #ff1493;
}

#hexagon {
    width: 100px;
    height: 57.735px;
    background: #ffb6c1;
    position: relative;
}
#hexagon::before {
    content: "";
    position: absolute;
    top: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 28.8675px solid #ff1493;
}
#hexagon::after {
    content: "";
    position: absolute;
    bottom: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 28.8675px solid #ff69b4  ;
}

#octagon {
    width: 100px;
    height: 100px;
    background: #ffb6c1;
    position: relative;
}
#octagon::before {
    content: "";
    width: 42px;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 29px solid #ff1493;
    border-left: 29px solid #fff;
    border-right: 29px solid #fff;
}
#octagon::after {
    content: "";
    width: 42px;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 29px solid #ff69b4;
    border-left: 29px solid #fff;
    border-right: 29px solid #fff;
}

#heart {
    position: relative;
    width: 100px;
    height: 90px;
}
#heart::before, #heart::after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #ffb6c1;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
#heart::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

#infinity {
    position: relative;
    width: 212px;
    height: 100px;
    box-sizing: content-box;
}
#infinity::before, #infinity::after {
    content: "";
    box-sizing: content-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border: 20px solid #ffb6c1;
    border-radius: 50px 50px 0 50px;
    transform: rotate(-45deg);
}
#infinity::after {
    left: auto;
    right: 0;
    border-radius: 50px 50px 50px 0;
    transform: rotate(45deg);
}

#diamond {
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom-color: #ffb6c1;
    position: relative;
    top: -50px;
}
#diamond::after {
    content: '';
    position: absolute;
    left: -50px;
    top: 50px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top-color: #ff1493;
}

#diamond-shield {
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom: 20px solid #ffb6c1;
    position: relative;
    top: -50px;
}
#diamond-shield::after {
    content: '';
    position: absolute;
    left: -50px;
    top: 20px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top: 70px solid #ff1493;
}

#diamond-narrow {
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom: 70px solid #ffb6c1;
    position: relative;
    top: -50px;
}
#diamond-narrow::after {
    content: '';
    position: absolute;
    left: -50px;
    top: 70px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top: 70px solid #ff1493;
}

#diamond-cut {
    border-style: solid;
    border-color: transparent transparent #ffb6c1 transparent;
    border-width: 0 25px 25px 25px;
    height: 0;
    width: 50px;
    box-sizing: content-box;
    position: relative;
    margin: 20px 0 50px 0;
}
#diamond-cut::after {
    content: "";
    position: absolute;
    top: 25px;
    left: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #ff1493 transparent transparent transparent;
    border-width: 70px 50px 0 50px;
}

#egg {
    display: block;
    width: 126px;
    height: 180px;
    background-color: #ffb6c1;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

#pac-man {
    width: 0px;
    height: 0px;
    border-right: 60px solid transparent;
    border-top: 60px solid #ffb6c1;
    border-left: 60px solid #ff1493;
    border-bottom: 60px solid #ff69b4;
    /*border-top-left-radius: 60px;*/
    /*border-top-right-radius: 60px;*/
    /*border-bottom-left-radius: 60px;*/
    /*border-bottom-right-radius: 60px;*/
    border-radius: 60px;
}

#speech-bubble {
    width: 120px;
    height: 80px;
    background: #ffb6c1;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#speech-bubble::before {
    content: "";
    position: absolute;
    right: 100%;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid #ff1493;
    border-bottom: 13px solid transparent;
}

